.wallet-front {
    position: relative;
}

.wallet-front #qrcode-address {
    position: absolute;
    top: 120px;
    left: 40px;
}

.wallet-front #qrcode-address img {
    width: 100px;
    height: 100px;
}

.wallet-front #cleartext-address-1 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-weight: bold;
    font-size: 14px;
    transform: rotate(180deg);
    color: black;
}

.wallet-front #cleartext-address-2 {
    position: absolute;
    top: 260px;
    left: 35px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.wallet-front #qrcode-secret {
    position: absolute;
    top: 102px;
    left: 817px;
}

.wallet-front #qrcode-secret img {
    width: 125px;
    height: 125px;
}

.wallet-front #cleartext-secret-1 {
    position: absolute;
    top: 75px;
    left: 795px;
    font-weight: bold;
    font-size: 10px;
    transform: rotate(180deg);
    color: black;
}

.wallet-front #cleartext-secret-2 {
    position: absolute;
    top: 245px;
    left: 795px;
    font-weight: bold;
    font-size: 10px;
    color: black;
}

.wallet-background,
.wallet-front,
.wallet-back {
    width: 1000px;
}